body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-Body {
  position: relative;
  margin-right: 10vw;
  z-index: 1;
  text-align: center;
  height: 30vh;
  width: 30vh;
}

.App-button {
  position: relative;
  height: 10vh;
  width: 10vh;
  border: 2px solid #000;
  background-color: #ffffff;
  margin: -2px;
  /* display: flex;
  align-items: center;
  justify-content: center; */

}

.App-border {
  z-index: 10;
  position: absolute;

  top: -7px;
  left: -7px;
  border: 15px solid rgb(255, 255, 255);
  height: calc(30vh - 24px);
  width: calc(30vh - 25px);
  pointer-events: none;
}

.App-button-text {
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  height: 10vh;
  width: 10vh;
  position: absolute;
  font-size: 4vh;
  
}



.App-score-text {
  font-size: calc(12px + 0.5vw);
  background-color: #ffffff;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}